/*font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;*/

/*==== ALLIN STYLES====*/

/*---- A kettős rétegű gradiens háttér két <div>-et igényel. Az alsó üres
rétegbe csak a háttérkép kerül, a fölötte lévő réteg pedig (amiben content
is van már), tartalmazza a részben átlátszó gradienst. ----*/

tr {
font-family: 'Lato', sans-serif;
}

.backgrounded {
	width: 100%;
	padding: 0;
	margin: 0;
	background-position: center;
  background-size: cover;
}
.gradiented {
	height: auto;
	background: linear-gradient(to right,rgba(90,50,200,.7) 0% ,rgba(200,50,90,.7) 100%);
}
.blurredbg {
	background-image: url(../img/blurredbackground.jpg);
}
.skewback {
	transform: skew(0, -3deg);
}
p {
	font-family: 'Lato', sans-serif;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
	.carousel-inner {
		height: 100%;
	}
	.carousel-item,
	.carousel-item img{
		height: 100%;
		object-fit: cover;
	}
h1 {
		font-family: 'Playfair Display', serif;
}
h2 {
	font-family: 'Playfair Display', serif;
	padding: 25px;
	margin-bottom: 0;
	text-transform: capitalize;
}
h3 {
	font-family: 'Playfair Display', serif;
}

 .gradiented-hero-bg {
	background: linear-gradient(to right,rgba(90,50,200,.7) 0% ,rgba(200,50,90,.7) 100%);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

/*==== HEADER STYLES====*/

.header {
	height: 700px;
	color: rgb(255, 255, 255);
}

.header {

}

.hero .row {
	margin-top: 15px;
}

.mainlogo img {
	width: 100%;
	height: auto;
}

.header .topbar {
	padding: 0;
	justify-content: space-between;
	list-style-type: none;
  top: 15px;
  position: relative;
}

.header .topbar a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}


.topbar img {
	width: 20px;
	margin-right: 5px;
}

.topbar span {
	font-family: 'Lato', sans-serif;
	font-size: .7rem;
}

.pos-f-t {
	background-color: rgb(216, 63, 135);
}

.pos-f-t .nav-link {
	font-family: 'Playfair Display', serif;
	font-size: 1.5rem;
	color: rgb(255, 255, 255);
	font-weight: 700;
	padding-left: 15px;
}

.topbar .nav-link {
	padding: 0;
}



/*---- JUMBOTRON styles ----*/

.jumbotron {
	background: no-repeat,
							transparent;
	padding-top: 93px;
}

.jumbotron strong {
	font-size: 5rem;
}


/*---- ABOUT styles ----*/

.about {
	background-color: rgb(243, 243, 243);
	padding-bottom: 100px;
}
.table {
	margin: 0;
}
.aboutus {
	bottom: 90px;
	background-color: rgb(255, 255, 255);
	height: 100%;
}
.us img {
	position: absolute;
	bottom: 10px;
  width: 100%;
  padding: 0 25px 0;
}
.us-description {
	padding: 25px 35px 50px;
}
.us-description h3 {
	font-weight: 600;
}
.us-description p {
	margin: 0;
}

.orarend {
	bottom: 80px;
	height: 100%;
	color: rgb(255, 255, 255);
	background-color: rgb(216, 63, 135);
}
.orarend h3,
.card h3 {
	color: rgb(255, 255, 255)
}
.nyitvatartas {
	padding-left: 0;
}
.nyitvatartas h3,
.aboutus h3,
.aboutus p {
	color: rgb(0, 0, 0)
}
.nyitvatartas table {
	width: 100%;
}
.orarend,
.nyitvatartas {
	padding: 25px;
}
.orarend table {
	border-spacing: 3px;
	border-collapse: separate;
}
.orarend .table td {
	padding:8px 3%;
	background-color: #6C4D8A;
	border: none;
}


/*---- VELEMENYEK styles ----*/

.velemenyek {
	position: relative;
	z-index: 30;
}
.velemenyek .gradiented,
.szolgaltatasok .gradiented{				/*SHORTHAND?*/
		padding: 60px 0;
}
.velemenyek,
.szolgaltatasok {
	margin-top: -70px;
	transform: skew(0, 3deg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.szolgaltatasok img {
	margin-bottom: 15px;
}

.velemenyek h2 {
	color: rgb(255, 255, 255);
}
.velemenyek .card,
.szolgaltatasok .card {
	background-color: transparent;
	padding: 15px;
}
.velemenyek .card img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 100%;
}
.velemenyek .quoterinfo {
	display: inherit;
	padding-top: 15px;
	width: 100%;
}
.quoteridentity {
	padding-left: 12px;
}
.quoteridentity p,
.name,
.speech-bubble p {
	color: rgb(255, 255, 255);
}
.quoteridentity .name {
	text-transform: uppercase;
}
.speech-bubble {
	width: 100%;
	position: relative;
	background-color: rgb(216, 63, 135);
}
.speech-bubble p {
	color: rgb(255, 255, 255);
	margin: 15px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 12%;
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-top-color: rgb(216, 63, 135);
	border-bottom: 0;
	margin-left: -1rem;
	margin-bottom: -13px;
}


/*---- HIREK styles ----*/

.tanfolyamok {
	padding: 80px 0px 150px;
}
.card {
	border: none;
	align-items: center;
	margin-bottom: 30px;
}
.card-body {
	position: relative;
	bottom: 7%;
	width: 80%;
	padding: 25px;
	background-color: rgb(216, 63, 135);
	}
.card h3 {	
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 1.1rem;	
}
.card p {
	font-size: 1rem;
	font-weight: 400;
	color: rgb(255, 255, 255);
}
.card ul {
	padding: 0;
	list-style-type: none;
}

.blended {
	height: 230px;    
  background-size: cover;
  background-position: center;
  background: linear-gradient(to right,rgba(90,50,200,.5) 0% ,rgba(200,50,90,.5) 100%);
}


#card-1 {
	background-image: url(../img/bg-card-1.jpeg);
}
#card-2 {
	background-image: url(../img/bg-card-2.jpeg);
}
#card-3 {
	background-image: url(../img/header-slider-3.jpg);
}
#card-4 {
	background-image: url(../img/bg-card-4.jpeg);
}


/*---- MONTAGE styles ----*/

.montage .row {
	margin: 0;
}
.montage {
	margin-top: -50px;
}
.montage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/*==== FOGLALKOZASOK STYLES====*/



#foglalkozasok-card-1 {
	background-image: url(../img/foglalkozasok-card-1.jpg);
}
#foglalkozasok-card-2 {
	background-image: url(../img/foglalkozasok-card-2.jpg);
}
#foglalkozasok-card-3 {
	background-image: url(../img/foglalkozasok-card-3.jpeg);
}
#foglalkozasok-card-4 {
	background-image: url(../img/foglalkozasok-card-4.jpeg);
}
#foglalkozasok-card-5 {
	background-image: url(../img/foglalkozasok-card-5.jpg);
}
#foglalkozasok-card-6 {
	background-image: url(../img/foglalkozasok-card-6.jpeg);
}


/*==== FITNESSPLUS STYLES====*/
.content-pull {
	position: relative;
	background-color: rgb(255, 255, 255);
	margin-top: -200px;
}
.foglalkozasok .row,
.fitnessplus .row,
.kapcsolat .row {
	padding: 50px 30px 100px;

}
.fitnessplus .card {
	margin-bottom: 30px;
}
.fitnessplus h2,
.foglalkozasok h2,
.kapcsolat h2 {
	padding-bottom:40px;
}
.fitnessplus .card p,
.fitnessplus h3 {
	color: rgb(0, 0, 0);
}


/*==== FOOTER STYLES====*/

footer .gradiented .row {
	margin: 0;
}
footer .white,
.transparent {
	padding-top: 30px;
}
.white {
	background-color: rgb(245, 245, 245);
	padding-bottom: 110px;
}
.footer-paragraph {
	margin-left: auto;
}
.bottomlogo {
	width: 60%;
	margin: 40px 0 25px;
}
.bottomimage {
	width: 75%;
  position: absolute;
  bottom: -60px;
  left: 64px;
}
footer ul img {
	width: 20px;
	margin-right: 5px;
}
footer ul,
footer h2,
.szolgaltatasok h2,
footer ul a {
	color: rgb(255, 255, 255);
}
footer ul {
	padding-left: 25px;
}
footer ul li {
	font-family: 'Lato', sans-serif;
	font-size: .8rem;
	list-style-type: none;
	padding-top: 12px;
}
footer ul a:hover {
	color: pink;
	text-decoration: none;
}
.bottombar {
	padding: 70px 0 20px;
}

/*---- KAPCSOLAT styles ----*/

.kapcsolat {
	height: 100%;
	background-color: rgb(243, 243, 243);
}
.kapcsolat h1 {
	margin-bottom: 30px;
}

.kapcsolat a {
	color: rgb(0, 0, 0);
}
.kapcsolat a:hover {
	text-decoration: none;
	color: pink;
}
.map {
	margin-bottom: -6px;
}


/*---- CONTACT-FORM styles ----*/


.contact-form {
	padding: 2.5rem 0 2.3rem;
	background: linear-gradient(to right,rgba(90,50,200,.7) 0% ,rgba(200,50,90,.7) 100%);
	color: rgb(255, 255, 255);
}
.contact-form h3 {
	padding-bottom: 1.8rem;
}
.contact-form input, textarea {
	width: 100%;
	margin: .3rem 0 1rem;
	font-weight: 400;
	padding: 10px 12px;
}
.contact-form .btn {
	float: right;
	width: auto;
	background-color: rgb(216, 63, 135);
	color: white;
	border-radius: 0;
	padding: .3rem 2rem;
}



/*==== @@@ MEDIA QUERYES @@@ ====*/


@media screen and (min-width: 1200px) {
	.bottomimage {
    width: 55%;
    position: absolute;
    bottom: -60px;
    left: 100px;
  }
  .montage {
  	margin-top: -50px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	.p-4 {
		padding: 0.7rem!important;
	}
	.bottomlogo {
	width: 25%;
	margin: 30px 0 25px;
	}
	.about {
		padding-bottom: 160px;
	}
	.aboutus,
	.orarend {
		bottom: 0;
	}
	.orarend .table td {
	padding:0 1%;
  }
  .us img {
  	margin-top: -170px;
  	position: unset;
  	padding: 0 0 15px;
  }
  .us-description:nth-of-type(1) { order: 1; }
	.nyitvatartas:nth-of-type(2) { order: 2; }
	.montage {
  margin-top: -30px;
  }
  .content-pull {
  	margin-top: -170px;
  }
}
@media screen and (min-width: 768px) {
	.collapse {
		display: block;
	}
	.jumbotron .display-4 {
		font-size: 2.7rem;
	}
	.jumbotron strong {
		font-size: 4rem;
		font-weight: 600;
	}
	 .nav-item .nav-link {
  	transition: all .3s cubic-bezier(.25,.8,.25,1);
  }

  .nav-item .nav-link:hover {
  	margin-left: 10px;
  	transition: all .3s cubic-bezier(.25,.8,.25,1);
  }
  .white {
		padding: 80px 15px;
  }

}


@media screen and (max-width: 767px) {
	
	.header {
		height: 430px;
	}
	.container {
		width: 90%;
		position: relative;
	}
	.carousel-inner {
		display: none;
	}

	.gradiented-bg-mobile {
		background-image: url(../img/header-slider-1.jpeg);
		background-size: cover;
    height: 430px;
	}

	.menu {
		position: absolute;
	}
	.pos-f-t {
		background-color: transparent;
	}
	.navbar {
		text-align: right;
		padding: 0;
		margin-top: 25px;
	}
	.navbar-toggler {
		background: rgb(216, 63, 135);
		border-radius: 0;
	}
	.mainlogo {
		width: 40%;
	}
	.show,
	.collapsing {
		float: right;
		margin-top: 10px;
		background-color: rgb(216, 63, 135);
  }
  .nav-item .nav-link {
  	font-size: 20px;
  	margin: 5px 0 10px;
  	padding: 0;
  	transition: all .3s cubic-bezier(.25,.8,.25,1);
  	display: inline-block;
  }

  .nav-item.active .nav-link {
  	border-bottom: 2px solid;
  }

  .jumbotron .container {
  	padding: 0;
  	margin: 0;
  }
  .jumbotron {
  	padding: 80px 30px 30px 30px;
  	margin: 0;
  }
	 .jumbotron .display-4 {
		font-size: 2rem;
	}
	.jumbotron strong {
		font-size: 2.6rem;
	}
	.jumbotron p {
		font-size: 15px;
	}
	.aboutus,
	.orarend {
		position: unset;
	}
	.aboutus .row :nth-child(2) { order: 3; }
	.aboutus .row :nth-child(3) { order: 2; }
	.bottomlogo {
		width: 45%;
		margin: 30px 0 25px;
	}
	.white {
		padding-bottom: 30px;
	}
	.about {
		padding-bottom: 140px;
	}
	.us img {
		position: unset;
		padding: 0 0 15px;
		margin-top: -9%;
	}	
	.aboutus {
		bottom: 50px;
	}
	.orarend {
		bottom: 25px;
	}
	.velemenyek .gradiented,
	.szolgaltatasok .gradiented {	
		padding: 20px 0;
  }
  .kapcsolat .pinktext {
  	margin-top: -17%;
  }
  .montage {
  margin-top: -21px;
  }
  .content-pull {
  	margin-top: -20px;
  }
}


